html, body {
    margin: 0;
}

.hidden {
    display: none;
}

.controls {
    margin: 5px;
    text-align: center;
    .arrow-style {
        border: 1px solid black;
        padding: 5px; 
        box-sizing: border-box;
    }
    .press-action {
        background: yellow;
    }
    .press-error {
        background: red;
    }
}
.red-btn {
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    background: red;
    text-decoration: none;
    &:hover{
        color: white;
    }
}


.container {
    border: 2px solid red;
    width: fit-content;
    margin: auto;
    .row { 
        display: flex;
        width: fit-content;
        span {
            width: 25px;
            height: 25px;
            border: 1px solid black;
            display: inline-block;
            .red-ball {
                border-radius: 50%;
                width: 50%;
                height: 50%;
                background: red;
                margin: 5px;
            }
        }
    }
}


